* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin: 1.8rem 0;
  font-size: 2rem;
}

.textdesc {
  margin: 1.5rem;
}

.title {
  margin: 1.5rem 0;
  font-size: 2.2rem;
  text-align: center;
}

.subtitle {
  margin: 2rem 0;
  font-size: 2rem;
}

.banner {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  position: absolute;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
}
.banner img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: green;
  padding: 1.5rem;
  margin-top: 1.5rem;
}
footer div ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
footer div ul li a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.footer__ul__title {
  text-align: center;
}

.footer__container1, .footer__container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__container1 h3, .footer__container2 h3 {
  text-decoration: underline;
  margin: 0.5rem;
}

nav a {
  display: flex;
  gap: 2rem;
}
nav i {
  font-size: 2rem;
}
nav span {
  display: none;
}

.inicialproyectos_huerta .inicialproyectos_huerta__img {
  width: 100%;
}
.inicialproyectos_huerta .inicialproyectos_huerta__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.inicialproyectos_muestra .inicialproyectos_muestra__img {
  width: 100%;
}
.inicialproyectos_muestra .inicialproyectos_muestra__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container__img {
  width: 100%;
}
.container__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.proyecto__text {
  text-align: center;
}

.mision {
  text-align: center;
}

.proyecto__carousel {
  width: 100%;
}
.proyecto__carousel img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.historia__img {
  width: 100%;
}
.historia__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.uniforme .uniforme__img {
  width: 100%;
  height: 20rem;
  background-image: url("../assets/uniforme/uniforme.jpg");
  background-size: cover;
  background-position: center;
  margin: 2rem 0;
}

.uniforme__text h1 {
  text-align: center;
}

.inicialobjetivos h2 {
  text-align: center;
}
.inicialobjetivos .inicialobjetivos__img {
  width: 100%;
}
.inicialobjetivos .inicialobjetivos__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 1rem 0;
}
.inicialobjetivos .inicialobjetivos__img2 {
  width: 100%;
}
.inicialobjetivos .inicialobjetivos__img2 img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 1rem 0;
}

.hero {
  width: 100%;
  height: 31rem;
  background-image: url("../assets/herofoto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero__btncontainer {
  background-color: rgba(0, 0, 0, 0.418);
  text-align: center;
  padding: 2rem;
}
.hero .hero__btncontainer p {
  text-decoration: none;
  color: white;
  padding-bottom: 1.2rem;
}
.hero .hero__btncontainer a {
  text-decoration: none;
  color: white;
  border: 2px black solid;
  padding: 0.5rem;
}

.bienvenida article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bienvenida article h1 {
  margin: 2rem 0;
  font-size: 2.2rem;
}
.bienvenida article p {
  text-align: left;
}

.niveles {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  background-color: rgba(0, 0, 0, 0.089);
}
.niveles .niveles__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
}
.niveles .niveles__card h2 {
  margin: 2rem 0;
  font-size: 2rem;
}
.niveles .niveles__card p {
  margin: 1rem 0;
}
.niveles .niveles__card .niveles__img {
  width: 100%;
}

.novedades .novedades__title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}
.novedades .novedades__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.novedades .novedades__cards .novedades__cards__img {
  width: 100%;
}
.novedades .novedades__cards .novedades__cards__text {
  text-align: center;
  margin: 1rem 0;
}

.redes {
  background-color: rgba(0, 0, 0, 0.089);
}
.redes h2 {
  text-align: center;
}
.redes .redes__icontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.redes .redes__icontainer i {
  font-size: 1.8rem;
  padding: 1rem 0;
}

/* .hero{
    background-image: url(../assets/img/index/heroimg.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .herobox{
        background: rgba(37, 30, 30, 0.685);
        width: 50%;
    }
} */

/*# sourceMappingURL=styles.css.map */
