* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: green;
}
footer div {
  border: 2px solid black;
}
footer div ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
footer div ul li a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.footer__ul__title {
  text-align: center;
}

.footer__container1 {
  display: block;
}

nav a {
  display: flex;
  gap: 2rem;
}
nav i {
  font-size: 2rem;
}
nav span {
  display: none;
}

.historia__banner {
  width: 100%;
  height: 15rem;
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.historia__banner .historia__banner__text {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
}

.historia__text {
  text-align: center;
}

.historia__img {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/historia/historiafotocolegio.jpg);
}

.proyecto__text {
  text-align: center;
}

.mision {
  text-align: center;
}

.proyecto__carousel {
  width: 100%;
  height: 20rem;
}

.hero {
  width: 100%;
  height: 31rem;
  background-image: url("../assets/herofoto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero__btncontainer {
  background-color: rgba(0, 0, 0, 0.418);
  text-align: center;
  padding: 2rem;
}
.hero .hero__btncontainer p {
  text-decoration: none;
  color: white;
  padding-bottom: 1.2rem;
}
.hero .hero__btncontainer a {
  text-decoration: none;
  color: white;
  border: 2px black solid;
  padding: 0.5rem;
}

.bienvenida article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.niveles {
  display: flex;
  flex-direction: column;
}
.niveles .niveles__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.niveles .niveles__card .niveles__img {
  width: 17rem;
  height: 10rem;
  object-fit: cover;
}

.novedades .novedades__title {
  text-align: center;
}
.novedades .novedades__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.novedades .novedades__cards .novedades__cards__img {
  width: 12rem;
  height: 8rem;
}
.novedades .novedades__cards .novedades__cards__text {
  text-align: center;
}

.redes h2 {
  text-align: center;
}
.redes .redes__icontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.redes .redes__icontainer i {
  font-size: 2rem;
  padding: 1rem 0;
}

/* .hero{
    background-image: url(../assets/img/index/heroimg.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .herobox{
        background: rgba(37, 30, 30, 0.685);
        width: 50%;
    }
} */

/*# sourceMappingURL=styles.css.map */
