
:root {
    --bg-gradientnav: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgb(39, 141, 34) 28%);
    --bg-gradientfooter: linear-gradient(0deg, rgba(16,106,11,1) 72%, rgba(231,231,231,1) 98%);;
    --bg-body: #e7e7e7;

}

