.sectioncard {
    background-color: rgba(0, 0, 0, 0.089);
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.76);
    -webkit-box-shadow: 4px 5px 14px -1px rgba(0,0,0,0.76);
    -moz-box-shadow: 4px 5px 14px -1px rgba(0,0,0,0.76);
    margin: 1rem;

    @media screen and (min-width:1024px){
        

    }
}