.inicialproyectos_huerta {

    .inicialproyectos_huerta__img  {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

}

.inicialproyectos_muestra {

    .inicialproyectos_muestra__img {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

}