
.uniforme

    .uniforme__img {
        width: 100%;
        height: 20rem;
        background-image: url("../assets/uniforme/uniforme.jpg");
        background-size: cover;
        background-position: center;
        margin: 2rem 0;
    }
    .uniforme__text {

        h1 {
            text-align: center;
        }

        
    }