
.proyecto__text {
    text-align: center;
}

.mision {
    text-align: center;
}

.proyecto__carousel {
    width: 100%;
    
    img {
        object-fit: cover;
        object-position: center;
    }
}