footer {
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: green;
    padding: 1.5rem;
    margin-top: 1.5rem;

    div{
        
        ul {
            list-style: none;
            padding: 0;
            text-align: center;
            
            li a{
                width: 100%;
                text-align: center;
                text-decoration: none;
                color: white;
            }
        }
    }
}





.footer__container1, .footer__container2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: start;

    .footer__ul {
        width: 40%;

        .footer__ul__title {
            text-decoration: underline;
            font-size: 1.1rem;
        }
        li {
            font-size: 0.9rem;
            text-align: start;
        }

        .footer__redes {
            display: flex;
            justify-content: start;

            i {
                font-size: 1.4rem;
                letter-spacing: 0.4rem;
            }

        }

        
    }
}

