footer {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: green;

    div{
        border: 2px solid black;
        
        ul {
            list-style: none;
            padding: 0;
            text-align: center;
            
            li a{
                width: 100%;
                text-align: center;
                text-decoration: none;
                color: white;
            }
        }
    }
}

.footer__ul__title {
    text-align: center;
}

.footer__container1 {
    display: block
}