nav {
    background: var(--bg-gradientnav);

    .nav-item {

        a{
            color: black;
        }
    }



    a { 
        display: flex;
        gap: 2rem;
    }
    i {
        font-size: 2rem;
    }
    span {
        display: none;
    }
}