nav {
    background: var(--bg-gradientnav);

    .navitemcontainer {
        display: flex;
    }

    .nav-item {

        a{
            color: black;
        }
    }



    a { 
        display: flex;
        gap: 2rem;
    }
    i {
        font-size: 2rem;
    }

    span {
        display: none;
    }

}

.logosimg {
    width: 3.2rem;
    margin-left: 1rem;
}