h2 {
    margin: 1.8rem 0;
    font-size: 2rem;
}

.textdesc {
    padding: 0rem 1rem;
    text-align: start;
    font-size: 14px;

}

.title {
    padding-top: 1rem;
    font-size: 2.2rem;
    text-align: center;
}

.subtitle {
    margin: 1rem 0;
    font-size: 2rem ;
}