h2 {
    margin: 1.8rem 0;
    font-size: 2rem;
}

.textdesc {
    margin: 1.5rem;
    text-align: start;
}

.title {
    margin: 1.5rem 0;
    font-size: 2.2rem;
    text-align: center;
}

.subtitle {
    margin: 2rem 0;
    font-size: 2rem ;
}